@charset "UTF-8";

.idFind{
	width:400px;
	margin:0 auto;
	padding-top:100px;
}

.idFind ul li h2{
	display:block;
	color:#522671;
	margin-left:20px;
}

.idFind ul li input[type=text]{
	display:block;
	width:90%;
	height:40px;
	box-sizing:border-box;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:20px;
	padding:0 10px;
}

.idFind ul li input[type=button]{
	width: 100px;
	height: 35px;
	background-color: #512772;
	color: #fff;
	font-size: 13px;
	border: 0;
	cursor: pointer;
	margin:0 auto;
	display:block;
	margin-top:50px;
}